{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Start A New Thread</legend>
                {{ form | crispy }}
                <p>
                    Title format should be <i>[Board] Thread_Title</i>. <br>
                    For example, <u>[ETC] This is my new thread</u>.
                </p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
